@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
@import url('https://fonts.adobe.com/fonts/aller#details-section');
@import"reset";

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}

#featured,#content,#sales,#events,#buyList,footer{
    background-color:gray;
    border-style: solid;
}

body{
    background-color: #C1DDDD;
    width: 100%;
    margin: 0;
}

header{
    background-color: #4DD599;
    display: flex;
    align-items: center;

    a{
        margin: 1rem;
    }

    h1{
        text-transform: uppercase;
        font-family: 'Baloo Chettan', cursive;
        margin: 1rem;
        font-weight: 700px;
    }

    #userIcons{
        display: flex;
        align-items: center;
        margin-left: 9.5rem;

        #userIcon{
            margin-right: .5rem;
        }

        img{
            margin-bottom: 4px;
        }
    }

    #userInteraction{
        margin-left: 43rem;
    }

    input{
        width:13rem;
        padding: .3rem;
        border-style: none;
        border-radius: 5px;
        position: relative;
    }

    #search {
        position: absolute;
        top: 3.1rem;
        right: 1.6rem;
    }

}

nav{
    background-color: #272D2D;
    padding: .5rem;
    display: flex;
    justify-content: center;
    box-shadow: 10px 5px 5px rgba(0,0,0,.30);


    a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        margin-right: 1rem;
        font-family: aller, sans-serif;
        font-weight: 700px;
        font-size: 1.5em;
    }
}

#featured{
    margin-top:1.5rem;

    img{
        position: relative;
    }
}

#scroll{
    position:absolute;
    top: 25.3rem;
}

.feat{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-style: none;
    background-color: #F1F1F0;
    margin: 2px;
}

.active{
    background-color: #A1D8D3;
}

.hidden{
    display: none;
}

#modalSearch{
background-color: white;
}